<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>index</title>

    <style>
    .card{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="Db-bahn.png"  width="150px" height="35px" style="vertical-align: middle;"/></a>
      </nav>
    <div class="card">
        <div class="card-body">
          
          <h5 class="card-title">Danke für Ihren Einkauf</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bitte achten Sie weiter auf den Automaten und auf die Ticketausgabe. Wir wünschen Ihnen eine angenehme Reise.</h6>

        </div>
      </div>
      
</body>
</html>